{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^@radio/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}