@import '../../styles/breakpoints';

.button {
    height: 55px;
    min-width: 180px;
    background-color: gray;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(180deg,  #4B80E1  50%, #FECE4D 50%);
    border: none;
    color: white;

    @include md {
        background: none;
        background-color: transparent;
        border: 1px solid #FECE4D;
        color: #FECE4D;
    }

    &:hover {
        background: linear-gradient(180deg,  #4B80E1  50%, #FECE4D 50%);
        border: none;
        color: white;
    }
}