@import '../../styles/breakpoints';

.button {
    height: 55px;
    min-width: 180px;
    background-color: gray;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(180deg,  #0848A5  50%, #F6C20B 50%);
    border: none;
    color: white;

    @include md {
        background: none;
        background-color: transparent;
        border: 1px solid #F6C20B;
        color: #F6C20B;
    }

    &:hover {
        background: linear-gradient(180deg,  #0848A5  50%, #F6C20B 50%);
        border: none;
        color: white;
    }
}