@import '../../../../styles/breakpoints';

.artistDesription {
    font-family: 'ScaniaSansBold';
    font-size: 16px;
    position: absolute;
    top: -320px;
    left: 3;
    z-index: 2;
    max-width: 320px;
    max-height: 320px;

    display: block;
    @include md {
        display: none;
    } 
    
    
   div {
       position: relative;
   }

   span {
       position: absolute;
       bottom: 0;
       left: 0;
       padding: 10px;
       color: rgb(12, 128, 196);
       font-weight: 500;
   }
}

.image {
    width: 320px;
    height: 320px;
}

.show {
    display: block !important;
}