@import '../../../../../../styles/breakpoints';

.container {
    margin-top: 15px;
    text-align: left;
    margin: 15px 30px 0 50px;

    @include md {
        margin: 15px 0 0 0;
    }

    div {
        position: relative;
    }
 
    span {
        font-family: 'ScaniaSansBold';
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        color: rgb(12, 128, 196);
        font-weight: 500;
    }
}

.image {
    @include md {
        width: 390px;
        height: 390px;     
    }
    width: 300px;
    height: 300px;
}
