@import '../../../../styles/breakpoints';

.artistDesription {
    border: 1px solid #0848A5;
    font-family: 'ScaniaSansBold';
    font-size: 16px;
    position: absolute;
    top: 45%;
    right: 5%;
    z-index: 3;
    max-width: 320px;
    max-height: 320px;

    display: none;
    @include md {
        display: block;
    } 
    
   div {
       position: relative;
   }

   span {
       position: absolute;
       bottom: 0;
       left: 0;
       padding: 10px;
       color: rgb(12, 128, 196);
       font-weight: 500;
   }
}

.image {
    width: 320px;
    height: 320px;
}

.show {
    display: block !important;
}