.mixItem {
    font-size: 24px;
    color: white;
    cursor: pointer;
    font-family: 'ScaniaSans';
    &Active {
        font-family: 'ScaniaSansBold';
    }
};

.time {
    display: inline-block;
    min-width: 70px;
    padding-right: 4px;
}

.artist {
    padding-left: 10px;
}