@import '../../styles/breakpoints';

.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  cursor: pointer;

  @include md {
    bottom: 100px;
    width: 200px;
    height: 200px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
